@import "tailwindcss";

:root {
  --primary: #08D9D6;
  --bg: #252A34;
  --accent: #FF2E63;
  --text: #EAEAEA;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}